<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Responsive Menu Sandbox</title>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>

    <script type="text/javascript" src="scripts/client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h1>Playing with Responsive Menus</h1>

    <ul>
        <li><a href="overlay.html">Overlay</a></li>
        <li><a href="hamburger.html">Hamburger</a></li>
        <li><a href="hamburger-animations.html">Hamburger Animations</a></li>
    </ul>
</body>

</html>
